.avatar-bubble {
    margin: 20px 0;
    padding-left: 60px;
    background: url('/images/modules/comments/bubble-arrow.png') 51px 20px no-repeat;
}
.avatar-bubble .avatar {
    position: relative;
    float: left;
    margin-left: -60px;
}
.avatar-bubble .bubble {
    padding: 3px;
    background: #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.avatar-bubble .avatar .overlay {
    position: absolute;
    top: 0;
    left: 0;
}
.avatar-bubble .avatar .overlay.size-48 {
    width: 48px;
    height: 48px;
    background: url('/images/modules/comments/rounded-avatar-48.png') 0 0 no-repeat;
}
.avatar-bubble .comment {
    border: 1px solid #cacaca;
}
.avatar-bubble .comment .cmeta {
    height: 33px;
    padding: 0 6px;
    border-bottom: 1px solid #ccc;
    background: url('/images/modules/comments/metabar.gif') 0 0 repeat-x;
}
.avatar-bubble .comment .body {
    position: relative;
    padding: 0 6px;
    overflow: auto;
    background: #fbfbfb;
}

#comments .comment .cmeta p.author,
#comments .comment .cmeta p.date {
    margin: 0;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    text-shadow: 1px 1px 0 rgba(255,255,255,.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#comments .comment .cmeta p.author { float: left; }
#comments .comment .cmeta p.date { float: right; }
#comments .comment .cmeta p.author .icon {
    display: inline-block;
    margin-top: -2px;
    margin-left: 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url('/images/modules/comments/icons.png') 0 0 no-repeat;
}
#comments .comment .cmeta p.author strong a { color: #222; }
#comments .comment .cmeta p.author a { color: #666; }
#comments .comment .cmeta p.date a { color: #777; }