.comment {
    background-color: transparent;
    border: 1px solid #cacaca;
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}  
.comment .commentheader {
    background-image: url(/images/modules/comments/metabar.gif);
    border-bottom: 1px solid #cacaca;
    color: black;
    display: block;
    float: left;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 33px;
    line-height: 33px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    text-shadow: rgba(255,255,255,.7) 1px 1px;
    white-space: nowrap;
    width: 100%;
}
.comment .commentheader .commentgravatar {
    background-color: white;
    border: 1px solid #c8c8c8;
    display: inline-block;
    line-height: 1px;
    margin: -2px 3px 0 5px;
    padding: 1px;
    vertical-align: middle;
}  
.comment .commentheader a:link {
    text-decoration: none;
}
.comment .commentheader a:hover {
    border-bottom: 1px solid;
}
.comment .commentheader .commentuser {
    color: black;
    font-weight: bold;
    line-height: 16px;
    margin-left: 5px;
    margin-right: 10px;
    overflow: visible;
    padding: 0;
    text-overflow: clip;
    text-shadow: rgba(255,255,255,.7) 1px 1px;
    white-space: nowrap;
}  
.comment .commentheader .commentdate {
    color: #777;
    font-size: 11px;
    line-height: 33px;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-overflow: clip;
    text-shadow: rgba(255,255,255,.7) 1px 1px;
    white-space: nowrap;
    width: 20em;
}  
.comment .commentbody {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    color: #333;
    display: block;
    margin: 40px 1em 1em 1em; 
    overflow: visible;
    padding: 0;
    position: static;
    width: 96%;
    word-wrap: break-word;
}
.comment .commentbody p {
    margin: .5em 0;
}
.comment .commentbody pre {
    border: none;
    background-color: #eef;
    padding: 0 .4em;
}
.comment .commentbody pre code {
    border: none;
}
.comment .commentbody code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
}