#main > *:first-child { margin-top: 21px !important; }
#main > *:last-child { margin-bottom: 21px !important; }
#main a { color: #29568f; }
#main a:hover { text-decoration: underline; }
#main h1, #main h2, #main h3 { font-weight: normal; }
#main h1, #main h2 {
    color: #4771a5;
    line-height: 1.2em;
    margin-top: 1em;
    padding-top: .5em;
}
#main h1 {
    font-size: 170%;
    border-top: 4px solid #aaa;
}
#main h1:first-child {
    border-top: none !important;
    padding-top: .25em !important;
}
#main h2 {
    font-size: 150%;
    border-top: 4px solid #e0e0e0;
}
#main h3 {
    color: #29568f;
    font-size: 120%;
    line-height: 1.2em;
    margin-top: 1em;
}
#main p { margin: 1em 0; }
#main ul, #main ol {
    list-style-position: outside;
    margin: 1em 0 1em 2em;
}
#main ul li, #main ol li {
    margin-top: .5em;
    margin-bottom: .5em;
}
#main ul ul, #main ul ol,
#main ol ol, #main ol ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
#main img {
    margin: 1em 0;
    padding: .3em;
    border: 1px solid #ddd;
    max-width: 100%;
}
#main a.lightbox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: url("data:application/cur;base64,AAACAAEAICACAAYABgAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8AAAA/wAAAOcAAAHngAABgYAAAYGAAAHngAAA5wAAAP8AAAA8AAAAAAAAA///////////////////////////////////////////////////////////////////////////////////////9////+P////H////j///wx///wA///4Af//+AH///AA///wAP//8AD///AA///4Af//+AH///wD////D///8="), auto;
}
#main img.emoji {
    margin: 0;
    padding: 0;
    border: 0;
    height: 24px;
    width: 24px;
    vertical-align: bottom;
}
#main p img { margin: 0; }

.float-left {
    float: left;
    padding:. 5em 1em .25em 0;
}
.float-right {
    float: right;
    padding: .5em 0 .25em 1em;
}
.align-left {
    display: block;
    text-align: left;
}
.align-center {
    display: block;
    text-align: center;
}
.align-right {
    display: block;
    text-align: right;
}
blockquote {
    margin: 1em 0;
    border-left: 5px solid #ddd;
    padding-left: .6em;
    color: #555;
}
dt {
    font-weight: bold;
    margin-left: 1em;
}
dd {
    margin-left: 2em;
    margin-bottom: 1em;
}
table {
    margin: 1em 0;
}
table th {
    border-bottom: 1px solid #bbb;
    padding: .2em 1em;
}
table td {
    border-bottom: 1px solid #ddd;
    padding: .2em 1em;
}
pre {
    background-color: #eee;
    border: 1px solid #ddd;
    margin: 1em 0;
    padding: 5px;
    overflow: auto;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: rgba(0,0,0,.07) 0 1px 2px inset;
    -moz-box-shadow: rgba(0,0,0,.07) 0 1px 2px inset;
    -webkit-box-shadow: rgba(0,0,0,.07) 0 1px 2px inset;
}
pre::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
pre::-webkit-scrollbar-track-piece {
    margin-bottom: 10px;
    background-color: #e5e5e5;
    -webkit-border-radius: 4px;
}
pre::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: white 0 1px 1px;
}
pre::-webkit-scrollbar-thumb:horizontal {
    width: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
}
pre code {
    padding: 0 !important;
    background-color: #eee !important;
    border: none !important;
    white-space: pre !important;
}
code {
    color: #444;
    padding: 0 .2em;
    background-color: #f8f8f8;
    border: 1px solid #dedede;
    white-space: nowrap;
}