/* Bluetone Creative Color Scheme:
     dark-blue: #29568f    blue: #4771a5    light-blue: #96b1d2
*/
* { margin: 0; padding: 0; }
body {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: Verdana,"Trebuchet MS",sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
}
a {
    text-decoration: none;
    outline: none;
}

#outer-wrapper,
#header-wrapper,
#crosscol-wrapper {
    position: relative;
    clear: both;
    width: 100%;
}
#outer-wrapper {
    min-height: 100%;
    min-width: 800px;
    background: white;
    overflow: hidden;
}
#header-wrapper {
    height: 58px;
    display: table;
    background: #4771a5;
}
#crosscol-wrapper {
    display: table;
    height: 26px;
    background-color: #96b1d2;
    box-shadow: 0 .08em .22em #29568f, rgba(255,255,255,.2) 0 -.08em inset;
    -moz-box-shadow: 0 .08em .22em #29568f, rgba(255,255,255,.2) 0 -.08em inset;
    -webkit-box-shadow: 0 .08em .22em #29568f, rgba(255,255,255,.2) 0 -.08em inset;
}
#main {
    position: relative;
    clear: both;
    margin-bottom: 4em;
    padding: 1.5em 10em 1.5em 10em;
}
#footer-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: table;
    height: 4em;
    margin-top: -4em;
    background: #4771a5;
}

#header-wrapper .header {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10em;
    white-space: nowrap;
}
#header-wrapper .header a {
    font-size: 34px;
    color: #29568f;
}

#crosscol-wrapper ul.PageList {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10em;
    white-space: nowrap;
}
#crosscol-wrapper ul.PageList li {
    display: inline-block;
    margin-right: 2em;
}
#crosscol-wrapper ul.PageList li a {
    color: #29568f;
    text-shadow: 0 1px rgba(255,255,255,.2);
}

#footer-wrapper #footer {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    color: #29568f;
    text-align: center;
}
#footer-wrapper #footer a { color: #29568f; }