/* Bluetone Creative Color Scheme:
     dark-blue: #29568f    blue: #4771a5    light-blue: #96b1d2
*/

* { margin: 0; padding: 0; }
body {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: Verdana,"Trebuchet MS",sans-serif;
    font-size: 14px;
    line-height: 20px;
}
h2, h3 {
    font-weight: normal;
    color: #4771a5;
}
h2 {
    font-size: 24px;
    line-height: 28px;
}
h3 {
    font-size: 19px;
    line-height: 24px;
}
a { 
    outline: none; 
    color: #29568f;
}

#outer-wrapper,
#header-wrapper,
#crosscol-wrapper,
#footer-wrapper {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
}
#outer-wrapper {
    min-height: 100%;
    overflow: hidden;
    background: #fff;
}
#header-wrapper {
    height: 68px;
    padding-left: 3em;
    display: table;
    background: #96b1d2;
}
#crosscol-wrapper {
    display: table;
    height: 28px;
    padding-left: 3em;

    background-color: #4771a5; /* for non CSS3 browsers */
    /* Mozilla Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #fff, rgba(255,255,255,.2));
    /* Webkit aka Google Chrome */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255,255,255,.2)));
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #fff, rgba(255,255,255,.2));

    -moz-box-shadow: 0 -.08em .08em #4771a5 inset, 0 .08em .3em -.08em #4771a5;
    box-shadow: 0 -.08em .08em #4771a5 inset, 0 .08em .3em -.08em #4771a5;
}
#footer-wrapper {
    display: table;
    height: 4em;
    margin-top: -4em;
    background: #96b1d2;
}

#main, #right-col {
    position: relative;
    float: left;
    margin-bottom: 4em;
}
#main {
    left: 0;
    width: 75%;
}
#right-col {
    left: 1%;
    width: 23%;
}
#right-col-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 75%;
    right: 0;
    background: #96b1d2;
}

#header-wrapper .header {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}
#header-wrapper .header a {
    font-size: 34px;
    text-decoration: none;
    text-shadow: 0 2px rgba(255,255,255,.2);
}

#crosscol-wrapper ul.PageList {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}
#crosscol-wrapper ul.PageList li {
    display: inline-block;
    margin-right: 2em;
}
#crosscol-wrapper ul.PageList li a {
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2);
}

#footer-wrapper #footer {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    color: #29568f;
    text-align: center;
}

#home {
    padding: 1.5em 1.5em 1em 3em;
}
#post {
    padding: 1.5em 1.5em 0 3em;
}
#comments {
    padding: 0 1.5em 1em 3em;
}

#main ul, #main ol {
    list-style-position: outside;
    margin: 1em 0;
    margin-left: 2em;
}
#home ul {
    list-style: none;
    margin: 1em 0;
}
#home > p, #post > p,
#comments > p {
    margin: 1em 0;
}
#post img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
code {
    white-space: nowrap;
}
.highlight {
    margin: 1em;
    padding: .2em;
    overflow-x: auto;
}
.highlight, code {
    background-color: #eef;
    border: 1px solid #ddd;
}
.highlight code {
    white-space: pre;
    border: none;
}
