<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="visconte" />
    <link href="http://feeds.feedburner.com/visconte" rel="alternate" title="visconte" type="application/atom+xml" />
    
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>

  <body>
    <!-- Outer wrapper -->
    <div id="outer-wrapper">
      <div id="right-col-1">
      </div>

      <!-- Header wrapper -->
      <div id="header-wrapper">
	<!-- Header -->
	<div class="header">
	  <a href="/">{{ site.title }}</a>
	</div>
      </div> <!-- end header -->
      <!-- end header wrapper -->

      <!-- Crosscol wrapper -->
      <div id="crosscol-wrapper">
	<ul class="PageList">
	  <li id="homepage">
	    <a href="/">Главная</a>
	  </li>

	  <li id="rss">
	    <a href="http://feeds.feedburner.com/visconte">RSS</a>
	  </li>
	</ul>
      </div>
      <!-- end crosscol wrapper -->

      <!-- Main -->
      <div id="main">
	{{ content }}
      </div> <!-- end main -->

      <!-- Right column -->
      <div id="right-col">
      </div> <!-- end right column -->

      <!-- Footer wrapper -->
      <div id="footer-wrapper">
	<!-- Footer -->
	<div id="footer">
	  <p>&copy; Copyright 2011 by <strong>visconte</strong>.</p>
	  
	  <p>
	    Content licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="nofollow" id="license">Creative Commons attribution-noncommercial-sharealike License.</a>
	  </p>
	</div> <!-- end footer -->
      </div>
      <!-- end footer wrapper -->
    </div>
    <!-- end outer wrapper -->
  </body>
</html>
