<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% if page.url == '/index.html' %}
      <title>{{ site.title }}</title>
      <meta name="description" content="{{ site.description }}">
    {% else %}
      <title>{{ page.title }}</title>
    {% endif %}
    <meta name="author" content="visconte"/>
    <link href="http://feeds.feedburner.com/visconte" rel="alternate" title="visconte" type="application/atom+xml"/>
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"/>
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection"/>
    <!-- Syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
    <!-- Comments CSS -->
    <link rel="stylesheet" href="/css/comments.css" type="text/css"/>
    <!-- ColorBox CSS -->
    <link rel="stylesheet" href="/css/colorbox.css" type="text/css"/>

    <!-- Flattr button JavaScript -->
    <script type="text/javascript">
      /* <![CDATA[ */
        (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
          t.parentNode.insertBefore(s, t);
        })();
      /* ]]> */
    </script>
  </head>

  <body>
    <!-- Outer wrapper -->
    <div id="outer-wrapper">
      <!-- Header wrapper -->
      <div id="header-wrapper">
        <p><a class="title" href="/">{{ site.title }}</a></p>
        <p class="description">{{ site.description }}</p>
      </div>
      <!-- end header wrapper -->

      <!-- Crosscol wrapper -->
      <div id="crosscol-wrapper">
        <ul class="PageList">
          <li id="homepage">
            <a href="/">Главная</a>
          </li>

          <li id="rss">
            <a href="http://feeds.feedburner.com/visconte">RSS</a>
          </li>
        </ul>
      </div>
      <!-- end crosscol wrapper -->

      <!-- Main -->
      <div id="main">
        {{ content }}
      </div>
      <!-- end main -->

      <!-- Footer wrapper -->
      <div id="footer-wrapper">
        <!-- Footer -->
        <div id="footer">
          <p>&copy; Copyright 2011&ndash;2012 by <strong>visconte</strong>.</p>

          <p>
            Content licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons attribution-noncommercial-sharealike License.</a>
          </p>
        </div> <!-- end footer -->
      </div>
      <!-- end footer wrapper -->
    </div>
    <!-- end outer wrapper -->
  </body>
</html>
