---
layout: default
---
<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }}</p>
{{ content }}
<p><a href="#">Наверх</a></p>

<div id="comments">
  <h2>Отправить комментарий</h2>
  <p>
    Комментарии блога предоставлены
    сервисом <a href="https://github.com/">GitHub</a>. Вы можете
    отправить комментарий
    с <a href="https://github.com/visconte/visconte.github.com/issues/{{ page.commentIssueId }}#discussion_bucket">данной страницы</a>
    (необходима <a href="https://github.com/signup/free">регистрация
    на GitHub</a>) или связаться со мной по <a href=""
    class="user-email">email</a>.
  </p>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://datejs.googlecode.com/svn/trunk/build/date-ru-RU.js"></script>
<script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
<script type="text/javascript">
{% include js/comments.js %}
{% include js/email.js %}

$(document).ready(function() {
    $('a[href$=".png"], a[href$=".gif"], a[href$=".jpg"], a[href$=".jpeg"]').colorbox();

    $('a.user-email').click(function() {
        UserEmail();
        return false;
    });
});
</script>

<p><a href="#">Наверх</a></p>
