---
layout: default
---
<!-- Syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
<!-- Comments CSS -->
<link rel="stylesheet" href="/css/comments.css" type="text/css" />

<div id="post">
  <h2> {{page.title}} </h2>
  <p class="meta"> {{page.date | date_to_string}} </p>
  {{content}}
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://datejs.googlecode.com/svn/trunk/build/date-en-US.js"></script>

<div id="comments">
  <h2>Отправить комментарий</h2>
  <p>
    Want to leave a comment? Visit <a href="https://github.com/visconte/visconte.github.com/issues/{{page.commentIssueId}}"> this post's issue page on GitHub</a> (you'll need a GitHub account. What? Like you already don't have one?!).
  </p>
</div>

<script type="text/javascript">

function loadComments(data) {
  for (var i=0; i<data.data.length; i++) {
    var cuser = data.data[i].user.login;
    var cuserlink = "https://www.github.com/" + cuser;
    var clink = "https://github.com/visconte/visconte.github.com/issues/{{page.commentIssueId}}#issuecomment-" + data.data[i].url.substring(data.data[i].url.lastIndexOf("/")+1);
    var cbody = data.data[i].body_html;
    var cavatarlink = data.data[i].user.avatar_url;
    var cdate = Date.parse(data.data[i].created_at).toString("yyyy-MM-dd HH:mm:ss");
    
    $("#comments").append('<div class="avatar-bubble"> <span class="avatar"> <img width="48" height="48" src="' + cavatarlink + '"> </span> <div class="bubble"> <div class="comment"> <div class="cmeta"> <p class="author"> <span class="icon"></span> <strong><a href="' + cuserlink + '">' + cuser + '</a></strong> commented</p> <p class="date"> <a href="' + clink + '">' + cdate + '</a> </p> </div> <div class="body">' + cbody + '</div> </div> </div>');
  }
};

$.ajax(
"https://api.github.com/repos/visconte/visconte.github.com/issues/{{page.commentIssueId}}/comments",
{
  headers : {"Accept": "application/vnd.github.beta.html+json"},
  dataType : "jsonp",
  crossDomain : false,
  scriptCharset : "utf-8",
  jsonpCallback : "loadComments"
})
</script>
